<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <span class="badge badge-primary">User login count : {{ sumUserLogin }}</span>
        </div>
      </div>

    </div>
  </div>
  <table class="table table-sm" *ngIf="loginHistorys">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">IP Address</th>
      <th scope="col">Login Date</th>
      <th scope="col">Logout Date</th>
      <th scope="col">Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let login of loginHistorys;let i = index;">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ login.loginUser.username }}</td>
      <td>{{ login.ipAddress }}</td>
      <td>{{ login.loginDateTime }}</td>
      <td>{{ login.logoutDateTime }}</td>
      <td>
        <button class="btn btn-info">View</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

